footer {
    margin-top: 2em;
    padding: 2em ;
    background: #060c15;
    text-align: center;
}

footer > * {
    margin-block: 1.5em;
}

footer div:nth-child(1) {
    font-size: 0.9rem;
    color: var(--primary-title);
}

footer div:nth-child(1) > h3 {
    display: inline-block;
    margin: 1em 0.6em;
    width: 150px;
    font-size: 1rem;
    color: var(--primary-title);
    white-space: nowrap;
}

footer p:nth-child(2) {
    line-height: 1.7;
    color: var(--secondary-title);
    text-wrap: balance;
}

footer div:nth-child(3) {
    display: flex;
    justify-content: center;
    gap: min(4vw,30px);
    color: white;
}

footer div:nth-child(3) i {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.6em;
    border-radius: 50%;
    background: #172130;
}